version: "3.5"
services:
  node:
    image: "node.hopr.public.dappnode.eth:1.0.25"
    build:
      context: .
      args:
        UPSTREAM_VERSION: "2.0.6@sha256:264f15ca82e54a7e18245890c081700f413724425722247f4a37e6963395e451"
    ports:
      - "9091:9091/tcp"
      - "9091:9091/udp"
      - "3001"
    volumes:
      - "db:/app/hoprd-db"
    environment:
      - DEBUG=hopr*
      - HOPRD_ANNOUNCE=true
      - HOPRD_NETWORK=dufour
      - HOPRD_API=true
      - HOPRD_API_HOST=0.0.0.0
      - HOPRD_API_PORT=3001
      - HOPRD_HEALTH_CHECK=true
      - HOPRD_HEALTH_CHECK_HOST=0.0.0.0
      - HOPRD_HEALTH_CHECK_PORT=8080
      - HOPRD_API_TOKEN=!5qxc9Lp1BE7IFQ-nrtttU
      - HOPRD_DISABLE_API_AUTHENTICATION=true
      - HOPRD_IDENTITY=/app/hoprd-db/.hopr-identity
      - HOPRD_DATA=/app/hoprd-db/data
      - HOPRD_INIT=true
      - "HOPRD_HOST=127.0.0.1:9091"
      - HOPRD_SAFE_ADDRESS=0x
      - HOPRD_MODULE_ADDRESS=0x
      - HOPRD_HEARTBEAT_THRESHOLD=60000
      - HOPRD_HEARTBEAT_INTERVAL=20000
      - HOPRD_PASSWORD="open-sesame-iTwnsPNg0hpagP+o6T0KOwiH9RQ0"
      - "HOPRD_PROVIDER=https://provider-proxy.hoprnet.workers.dev/xdai_mainnet"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 2G
  admin:
    image: "europe-west3-docker.pkg.dev/hoprassociation/docker-images/hopr-admin@sha256:b354b698ece88155607fcc0d325e57786ce0e15bb9d40dc180826ac3c1000c13"
    ports:
      - "3000:80"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 256M
volumes:
  db: {}
