version: "3.6"
services:
  node:
    # Do not set image field here, it will be set automatically by the sdk.
    build:
      context: .
      args:
        # see https://console.cloud.google.com/artifacts/docker/hoprassociation/europe-west3/docker-images/hoprd?inv=1&invt=AbqEGg&project=hoprassociation&pli=1
        UPSTREAM_VERSION: >-
          3.0.0-rc.1@sha256:9d151098fb6299cdf5be2653317eef8959e1e8915c753c8f23e0594089b9aa9a
    ports:
      - "1422:1422/udp"
      - "1422:1422/tcp"
      - "3001:3001/tcp"
      - "9091:9091/tcp"
      - "9091:9091/udp"
      - "9092:9092/tcp"
      - "9092:9092/udp"
      - "9093:9093/tcp"
      - "9093:9093/udp"
      - "9094:9094/tcp"
      - "9094:9094/udp"
      - "9095:9095/tcp"
      - "9095:9095/udp"
      - "9096:9096/tcp"
      - "9096:9096/udp"
      - "9097:9097/tcp"
      - "9097:9097/udp"
      - "9098:9098/tcp"
      - "9098:9098/udp"
      - "9099:9099/tcp"
      - "9099:9099/udp"
      - "10000-10100:10000-10100/tcp"
      - "10000-10100:10000-10100/udp"
    volumes:
      - "data:/app/hoprd/data"
      - "conf:/app/hoprd/conf"
    security_opt:
      - "seccomp:unconfined"
    environment:
      RUST_LOG: info
      HOPRD_CONFIGURATION_FILE_PATH: /app/hoprd/conf/hoprd.cfg.yaml
      HOPRD_HOST: "127.0.0.1:9091"
      HOPRD_SAFE_ADDRESS: 0x
      HOPRD_MODULE_ADDRESS: 0x
      HOPRD_PASSWORD: ""
      HOPRD_PROVIDER: ""
      HOPRD_SESSION_PORT_RANGE: "10000:10100"
      HOPRD_MAX_BLOCK_RANGE: 100
      HOPRD_MAX_RPC_REQUESTS_PER_SEC: 10
      HOPRD_NAT: "true"
      ADDITIONAL_CMDLINE_ARGS: ""
      ADDITIONAL_ENVIRONMENT_VARS: ""
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 2G
  admin:
    # The actual image name  will be set automatically by the sdk.
    # This tag only serves to pull the correct image during build.
    build:
      context: ./hopr-admin
    image: >-
      europe-west3-docker.pkg.dev/hoprassociation/docker-images/hopr-admin:3.0.2
    ports:
      - "3000:4677"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 256M
volumes:
  data: {}
  conf: {}
