version: "3.5"
services:
  node:
    image: "node.hopr.public.dappnode.eth:1.0.13"
    build:
      context: .
      args:
        UPSTREAM_VERSION: >-
          2.0.0-rc.6@sha256:190abbfcfc4e03ea63a541468c0779e002c6cbd6d0cc5caacba9f9794c937e63
    ports:
      - "9091:9091/tcp"
      - "9091:9091/udp"
      - "3001"
    volumes:
      - "db:/app/hoprd-db"
    environment:
      - DEBUG=hopr*
      - HOPRD_ANNOUNCE=true
      - HOPRD_NETWORK=dufour
      - HOPRD_API=true
      - HOPRD_API_HOST=0.0.0.0
      - HOPRD_API_PORT=3001
      - HOPRD_HEALTH_CHECK=true
      - HOPRD_HEALTH_CHECK_HOST=0.0.0.0
      - HOPRD_HEALTH_CHECK_PORT=8080
      - HOPRD_API_TOKEN=!5qxc9Lp1BE7IFQ-nrtttU
      - HOPRD_DISABLE_API_AUTHENTICATION=true
      - HOPRD_IDENTITY=/app/hoprd-db/.hopr-identity
      - HOPRD_DATA=/app/hoprd-db/data
      - HOPRD_INIT=true
      - "HOPRD_HOST=127.0.0.1:9091"
      - HOPRD_SAFE_ADDRESS=0x
      - HOPRD_MODULE_ADDRESS=0x
      - HOPRD_HEARTBEAT_THRESHOLD=60000
      - HOPRD_HEARTBEAT_INTERVAL=20000
      - HOPRD_PASSWORD="open-sesame-iTwnsPNg0hpagP+o6T0KOwiH9RQ0"
      - "HOPRD_PROVIDER=https://provider-proxy.hoprnet.workers.dev/xdai_mainnet"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 2G
  admin:
    image: "europe-west3-docker.pkg.dev/hoprassociation/docker-images/hopr-admin:2141c93380780@sha256:2141c93380780843aecb48f0947dea1002930d307319476b93f185800e6c759e"
    ports:
      - "3000:80"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 256M
volumes:
  db: {}
